<p id="notice"><%= notice %></p>

<h1>Tx Schedule Messages</h1>

<table>
  <thead>
    <tr>
      <th>Schedule</th>
      <th>Num alarma</th>
      <th>Letter color</th>
      <th>Background color</th>
      <th>Message</th>
      <th>Bit date</th>
      <th>Bit description</th>
      <th>Bit escala</th>
      <th>Bit limit</th>
      <th>Bit reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tx_schedule_messages.each do |tx_schedule_message| %>
      <tr>
        <td><%= tx_schedule_message.schedule_id %></td>
        <td><%= tx_schedule_message.Num_Alarma %></td>
        <td><%= tx_schedule_message.letter_color %></td>
        <td><%= tx_schedule_message.background_color %></td>
        <td><%= tx_schedule_message.message %></td>
        <td><%= tx_schedule_message.bit_date %></td>
        <td><%= tx_schedule_message.bit_description %></td>
        <td><%= tx_schedule_message.bit_escala %></td>
        <td><%= tx_schedule_message.bit_limit %></td>
        <td><%= tx_schedule_message.bit_reference %></td>
        <td><%= link_to 'Show', tx_schedule_message %></td>
        <td><%= link_to 'Edit', edit_tx_schedule_message_path(tx_schedule_message) %></td>
        <td><%= link_to 'Destroy', tx_schedule_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tx Schedule Message', new_tx_schedule_message_path %>
