<%= form_for(table_order) do |f| %>
  <% if table_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table_order.errors.count, "error") %> prohibited this table_order from being saved:</h2>

      <ul>
      <% table_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :name_column %>
    <%= f.text_field :name_column %>
  </div>

  <div class="field">
    <%= f.label :order %>
    <%= f.number_field :order %>
  </div>

  <div class="field">
    <%= f.label :table_id %>
    <%= f.text_field :table_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
