<%= javascript_include_tag 'jquery-ui.js' %>

<div class="ibox-content" id="responsiveGeneral">
  <!--<meta http-equiv="Refresh" content="5">-->
  <br>
  <div class="flot-chart">
    <div class="flot-chart-pie-content" id="flot-pie-chart"></div>
  </div>
</div>
<script type="text/javascript">

    $(function () {

        var data = [{
            //label: "Key Monitor Transaccional",
            //data: 1285,
            data: <%= @countTrans %>,
            color: "#498fc8",
            <% if @leerNewTran == 2 %>
            url: window.location.href + '<%= alertn_alertTran_path %>'
            <% end %>
        }, {
            //label: "Key Monitor Perfiles",
            //data: 1065,
            data: <%= @countPerf %>,
            color: "#14568c",
            <% if @leerNewPer == 2 %>
            url: window.location.href + '<%= alertn_alertPer_path %>'
            <% end %>
        }];

        var plotObj = $.plot($("#flot-pie-chart"), data, {
            series: {
                pie: {
                    show: true
                }
            }

            ,
            grid: {
                <% if @leerNewTran == 2 && @leerNewPer == 2 %>
                clickable: true,
                <% end %>
                hoverable: true
            },
            tooltip: true,
            tooltipOpts: {
                content: "%p.0%", // show values
                shifts: {
                    x: 20,
                    y: 0
                },
                defaultTheme: false
            },
            legend: {
                useHTML: true,
                labelFormatter: function (label, series) {
                    return '<div style="text-align: left; width:150px;"><strong>' + label + '</strong></div><div style="width:40px; text-align:right;">Total: ' + series.data[0][1] + '</div>';
                }
            }
        });

        $("#flot-pie-chart").on("plotclick", function (event, pos, obj) {
            if (!obj) {
                return;
            }
            window.location.href = obj.series.url;
        });
    });
</script>