<!-- prueba -->
<div>
  <% @bitaAlertasxAtender = Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).first.cantidad %>
  <h2 class="font-bold">
    <br>
    <%= number_with_delimiter(@bitaAlertasxAtender, :delimiter => ',') %></h2>
</div>
<!-- prueba -->
