<section class="row">
  <div class="col-lg-12">
    <div class="ibox-title">
      <h1><%= t('views.tx_filter_schedules_index.schedules_title') %></h1>
    </div>
    <article class="ibox-content">
<!--      <input type="hidden" id="index" value="<%#= action_name %>">-->
      <%= link_to 'Nuevo', new_tx_filter_schedule_path, remote: true, class:'btn btn-primary btn-xs' %>
      <br>
      <table class="text-center table table-responsive table-striped">
        <thead>
        <tr>
          <th class="text-center"><%= t('views.tx_filter_index.title') %></th>
          <th class="text-center"><%= t('views.tx_filter_schedules_index.sh_start') %></th>
          <th class="text-center"><%= t('views.tx_filter_schedules_index.sh_end') %></th>
          <th class="text-center"><%= t('all.show') %></th>
          <th class="text-center"><%= t('all.edit') %></th>
          <th class="text-center"><%= t('all.delete') %></th>
        </tr>
        </thead>

        <tbody>
        <% @tx_filter_schedules.each do | horario| %>
          <%= render 'row', horario: horario %>
        <% end %>
        </tbody>
      </table>
      <br>
      <%#= link_to '<i class="fa fa-clock-o"></i> '.html_safe + t('all.new'), new_tx_filter_schedule_path, remote: true ,class:'btn btn-primary btn-xs' %>
    </article>
  </div>
</section>







