// Place all the styles related to the tx_filter_schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/// Estilos para el fomulario

/*Unifica el select con el input*/
.input-select-unidos{
  display: flex;
  flex-direction: row;

  //input:first-child{
  //  width: 150%;
  //}
  //
  //select:last-child{
  //  width: 50%;
  //}

}

/*Estilos para el contenedor de la table de campos*/
.content_campos, .content_table_campos{
  max-height: 300px;
  overflow: auto;

  //* Estilos para el scroll
  &::-webkit-scrollbar {
    width: 8px; /*=> ancho del scroll*/
    background-color: #000000; /*=> Color del fondo principal */
  }

  &::-webkit-scrollbar-track {
    background-color: #e7eaec; //*=> Background de la longitud sobre la que se desplasa el scroll
  }

  &::-webkit-scrollbar-thumb{
    background-color: #0c3056; /*=> color del indicador del scroll */
    border-radius: 10px; /*=> bordes redondeados */
    background-image:-webkit-linear-gradient(rgba(255,255,255,.3));
  }

  thead, tr, th{
    background-color: #fff;
    position: sticky;
    top: 0;
  }
}

/*Estilos para los header de los subtitulos - Mensajes de Alertas y Referencias*/
.header-subtitle{
  background-color: #003057;
  border-radius: 5px 5px 0 0;
  padding: .5em;

  h4{
    font-weight: 100;
    color: #fff;
  }
}

//Flex-box para el header mensaje y el botón de agregar mensaje de alerta
.flex-mensaje, .btn-tunning{
  display: flex;
  flex-direction: row;
}

//header mensaje
.flex-mensaje{
  justify-content: space-between;
}

//Boton de agregar mensaje
.btn-tunning{
  background-color: #fff;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;

  &:hover{
    background-color: #9ea6b9;
  }
}

//Ventana modal de mensaje
.modal-size{
  width: 60%;
  margin: auto;
  margin-top: 2em;

  .campos_modal{
    display: flex;
    flex-direction: row;

    /*Tabla de campos en modal*/
    div.msn:first-child{
      //background-color: tomato;
      max-height: 322px;
      overflow: auto;
      width: 70%;

      tr{
        cursor: pointer;
      }
    }

    /*Configuración del mensaje*/
    div.msn:last-child{
      //background-color: #51a351;
      padding-left: 2em;
      width: 30%;

      .d-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .primeros, .ultimos{
        display: none;
      }
    }
  }
}

.modal-dos{
  background-color: #fff;
  width: 90%;
  position: fixed;
  z-index: 9000;
  height: 60vh;
  top: 5%;
  left: 5%;
  border-radius: 5px;

  .header-msn{
    background-color: #003057;
    color: #fff;
    display: flex;
    border-radius: 5px 5px 0 0;
    justify-content: space-between;
  }

  .campos_modal{
    display: flex;
    flex-direction: row;

    /*Tabla de campos en modal*/
    div.msn:first-child{
      //background-color: tomato;
      max-height: 322px;
      overflow: auto;

      tr{
        cursor: pointer;
      }
    }

    /*Configuración del mensaje*/
    div.msn:last-child{
      //background-color: #51a351;
      padding-left: 2em;
      width: 30%;

      .d-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .primeros, .ultimos{
        display: none;
      }
    }
  }
}

///Checkbox
.btn span.fa {
  opacity: 0;
}
.btn.active span.fa {
  opacity: 1;
}

