// Place all the styles related to the tx_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// INDEX

.cube-filter-primray, .cube-filter-sec, .cube-filter-group{
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.cube-filter-primray{
  background-color: #003057;
}

.cube-filter-sec{
  background-color: #f8ac59;
}


/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
.inValue{
  display: flex;
  flex-direction: row;

  .anchoSelect{
    width: 50%;

    &:last-child{
      padding-left: .5em;
    }
  }
}

//Estilos input file para cargar archivos
.upFiles{
  background-color: #fff;
  border: 1px solid #e5e6e7;
  padding: .4em;

  .custonText{
    color: #aaa;
  }
}

//Estilos para Altura de CheckBox Denied y Add Condition
.altura{
  height: 59px;
  line-height: 1.9;
}

//Estilos para conector al agregar una condicion
.operador, .conector{
  color: #f8ac59;
  font-size: 16px;
}

.parenthesis{
  font-size: 20px;
}

.negado{
  color: #ed5565;
}

.tdDispNone, .thDisNone {
  display: none;
}

//###ESTILOS PARA CONTENEDOR FILTER
.s_Condition{
  background-color: #fff;
  border-radius: 5px;
  height: 400px;
  overflow: auto;
  padding: 0;
}

.container{
  background-color: #fff;
  border-radius: 5px;
  overflow: auto;
  height: 400px;
  width: 105%;
  transition: all .3s ease;
}

.container, .s_Condition{

  &::-webkit-scrollbar {
    width: 8px; /*=> ancho del scroll*/
    background-color: #000000; /*=> Color del fondo principal */
  }

  &::-webkit-scrollbar-track {
    background-color: #ccc;
  }

  &::-webkit-scrollbar-thumb{
    background-color: #0c3056; /*=> color del indicador del scroll */
    border-radius: 10px; /*=> bordes redondeados */
    background-image:-webkit-linear-gradient(rgba(255,255,255,.3));
  }

}

.condicion, .parAbre, .parCierre{
  cursor: grabbing;
  z-index: 99999;
}

//.connector{
//  background-color: #337ab7 !important;
//  color: white !important;
//}

.conectorP{
  background-color: #f8ac59 !important;
  color: white !important;
}

//###Estilos para BTN filtros Guardados
.btn-width{
  margin-bottom: .5em;
  overflow: hidden;
  width: 98px;
}

//Estilos para DRAGULA DnD
.drop-target{
  border-top: 2px solid #337ab7 !important;
  border-bottom: 2px solid #337ab7 !important;
}


//############## Estilos para ventana model de nuevo filtro
.modal-size{
  width: 80%;
  background-color: #fff;
  margin: auto;
  margin-top: 10em;
  border-radius: 5px;
}

///Estilos para la table de Referencia
.content_campos{
  height: 100%;
  overflow: auto;

  table, thead, tr, th {
    background-color: #eee;
    position: sticky;
    top: 0;
  }
}

//Estilos para Mensaje de alerta
/*Unifica el select con el input*/
.input-select-unidos{
  display: flex;
  flex-direction: row;

  select:first-child{
    width: 60%;
  }

  input:last-child{
    width: 150%;
  }

}

/*Estilos para el contenedor de la table de campos*/
.content_campos, .content_table_campos{
  max-height: 300px;
  overflow: auto;

  //* Estilos para el scroll
  &::-webkit-scrollbar {
    width: 8px; /*=> ancho del scroll*/
    background-color: #000000; /*=> Color del fondo principal */
  }

  &::-webkit-scrollbar-track {
    background-color: #e7eaec; //*=> Background de la longitud sobre la que se desplasa el scroll
  }

  &::-webkit-scrollbar-thumb{
    background-color: #0c3056; /*=> color del indicador del scroll */
    border-radius: 10px; /*=> bordes redondeados */
    background-image:-webkit-linear-gradient(rgba(255,255,255,.3));
  }

  thead, tr, th{
    background-color: #fff;
    position: sticky;
    top: 0;
  }
}

/*Estilos para los header de los subtitulos - Mensajes de Alertas y Referencias*/
.custom-table{
  background-color: #fff;
  padding: 0;
}


.header-subtitle{
  background-color: #003057;
  border-radius: 5px 5px 0 0;
  padding: .5em;

  h4{
    font-weight: 100;
    color: #fff;
  }
}

//Flex-box para el header mensaje y el botón de agregar mensaje de alerta
.flex-mensaje, .btn-tunning{
  display: flex;
  flex-direction: row;
}

//header mensaje
.flex-mensaje{
  justify-content: space-between;
}

//Boton de agregar mensaje
.btn-tunning{
  background-color: #fff;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;

  &:hover{
    background-color: #9ea6b9;
  }
}

//Ventana modal de mensaje
.modal-size-msn{
  width: 60%;
  margin: auto;
  margin-top: 2em;

  .campos_modal{
    display: flex;
    flex-direction: row;

    /*Tabla de campos en modal*/
    div.msn:first-child{
      //background-color: tomato;
      max-height: 322px;
      overflow: auto;
      width: 70%;

      tr{
        cursor: pointer;
      }
    }

    /*Configuración del mensaje*/
    div.msn:last-child{
      //background-color: #51a351;
      padding-left: 2em;
      width: 30%;

      .d-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .primeros, .ultimos{
        display: none;
      }
    }
  }
}